@import "tailwindcss";

@theme {
  --font-sans: "Lexend", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  h2 {
    @apply text-2xl font-bold text-sky-800/60 mb-4 mt-8;
  }
  h3 {
    @apply text-lg font-bold text-sky-800/60;
  }

  sup {
    font-size: 40%;
    vertical-align: super;
  }
}

@layer components {
  .card {
    @apply border border-stone-200 rounded-lg px-4 py-3;
  }
}

main a:not(.btn) {
  @apply underline text-sky-600/80;
}
