---
layout: raw
title: Accueil
hero_title: Aide et compagnie pour les séniors
hero_subtitle: Services à la personne pour les élèves et les séniors
description: Présentation du parcours de Romain ORRÉTÉGUY, services de soutien scolaire, compagnie pour séniors, tarifs et contact.
---
<!-- <div class="container mx-auto h-8"></div> -->

<header class="bg-cover bg-center bg-fixed bg-white" style="background-image: url({{ '/img/sky.jpg' | relative_url }})">
  <div class="px-8 py-[20vh] max-w-4xl mx-auto text-white text-shadow-md">
    <h1 class="text-3xl font-bold mb-2">Aide à domicile pour les jeunes et les moins jeunes</h1>
    <div class="text-xl font-light my-0">J’ai à cœur d’être présent pour toutes les générations : auprès des aînés, je propose une aide concrète pour les courses, les rendez-vous, les démarches administratives ou simplement pour partager un moment agréable ; auprès des écoliers et des collégiens, je prends le temps d’accompagner dans les devoirs et d’apporter un soutien en français, avec patience et bienveillance.</div>
  </div>
</header>

<section class="bg-white">
  <div class="p-8 max-w-4xl mx-auto">
    <h2>Pour les séniors</h2>
    <div class="flex flex-row">
      <img src="{{ '/img/seniors.jpg' | relative_url }}" alt="Dessin de deux personnes jouant à un jeu de société" class="w-full h-64 object-contain rounded-xl my-4 sticky top-16">
      <div class="flex flex-col gap-4 my-4">
        {% assign services = site.data.services | where:"audience","seniors" %}
        {% for service in services %}
          <div class="card shadow-md">
            <h3>{{ service.title }}</h3>
            <p>{{ service.description }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="p-8 max-w-4xl mx-auto">

    <h2>Pour les collégiens</h2>

    <div class="flex flex-row">
      <img src="{{ '/img/preteens.jpg' | relative_url }}" alt="Dessin de deux personnes travaillant sur des révisions" class="w-full h-64 object-contain rounded-xl my-4 sticky top-16">
      <div class="flex flex-col gap-4 my-4">
        {% assign services = site.data.services | where:"audience","preteens" %}
        {% for service in services %}
          <div class="card shadow-md">
            <h3>{{ service.title }}</h3>
            <p>{{ service.description }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="p-8 max-w-4xl mx-auto">

  <h2>Pour les écoliers</h2>

  <div class="flex flex-row">
    <img src="{{ '/img/children.jpg' | relative_url }}" alt="Dessin de deux personnes apprenant en s’amusant" class="w-full h-64 object-contain rounded-xl my-4 sticky top-16">
    <div class="flex flex-col gap-4 my-4">
      {% assign services = site.data.services | where:"audience","children" %}
      {% for service in services %}
        <div class="card shadow-md">
          <h3>{{ service.title }}</h3>
          <p>{{ service.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<hr id="tarifs" class="bg-white border-2 border-dashed border-amber-300">

<section class="bg-white">
  <div class="p-8 max-w-4xl mx-auto">
  <h2>Tarifs</h2>
  <p>Pour tous les services d’aide à domicile, une seule façon de facturer :</p>
	<div class="grid grid-cols-1 sm:grid-cols-2 gap-8 text-center mt-12 mb-8">
    <div class="border-2 border-solid border-amber-300 bg-amber-300 p-4 rounded-xl content-center sm:col-span-2 md:col-span-1">
      <div class="text-xl mb-4">1 heure</div>
      <div class="text-6xl font-bold">20 €<sup>TTC</sup></div>
    </div>
    <div class="border-2 border-solid border-amber-300 p-4 rounded-xl content-center">
      <div class="text-xl mb-4">30 minutes</div>
      <div class="text-6xl font-bold">14 €<sup>TTC</sup></div>
    </div>
  </div>
  <h3 class="mt-6 mb-2">Zone géographique</h3>
  <p>À ce jour, je me déplace à domicile <strong>principalement sur les communes de Mont-de-Marsan et Saint-Pierre-du-Mont</strong> où je ne facture pas de frais de déplacement.</p>
  <p>En dehors de ces communes, je facture 0,50€TTC du kilomètre à l’aller et au retour. Les 5 premiers kilomètres (à l’aller et au retour) ne sont pas facturés.</p>
  <p>Ce tarif s'applique pour les visites et les courses.</p>
  <h3 class="mt-6 mb-2">Conditions de règlement</h3>
  <p>Le règlement s’effectue en espèces, chèque ou virement.</p>
  <p>Étant sous forme d’une entreprise individuelle, vous ne pouvez pas utiliser les CESU pour régler vos factures, car il est utilisable pour vos salariés.</p>
  <h3 class="mt-6 mb-2">Crédit d’impôts</h3>
  <p>Je vous fournis une attestation fiscale annuelle vous permettant de bénéficier d’une réduction ou d’un crédit d’impôt de 50 % sur les sommes versées au titre des services à la personne dans la limite des plafonds prévues par la loi.</p>
  </div>
</section>

<hr id="quisuisje" class="bg-white border-2 border-dashed border-amber-300">

<section class="bg-white">
  <div class="p-8 max-w-4xl mx-auto">
  <h2>Qui suis-je ?</h2>
  <img src="{{ '/img/portrait.jpg' | relative_url }}" alt="Portrait de Romain ORRÉTÉGUY" class="w-48 h-48 object-cover rounded-full mx-auto my-4 md:mx-4 md:me-0 md:float-end relative md:-top-8">
	<p>
    Je m’appelle Romain ORRÉTÉGUY et j'ai grandi à Mont-de-Marsan.
    Après un Master en Droit public et Sciences politiques de l'Université de Bordeaux,
    j’ai travaillé plusieurs années dans le secteur public avant de ressentir le besoin de me tourner vers quelque chose de plus concret et humain.
    L’aide à la personne s’est naturellement imposée à moi car j’aime transmettre et être utile aux autres.
    J’ai donc créé ma micro-entreprise en 2025 me permettant de faire ce pour quoi je me sens utile :
    soutenir les enfants dans leur scolarité et offrir un peu de présence aux aînés.
	</p>
  <h3 class="mt-6 mb-2">Mes valeurs</h3>
  <ul class="grid grid-cols-1 gap-4 mt-6 sm:grid-cols-2 max-w-xl mx-auto">
    <li class="card bg-amber-300 text-lg border-none text-center font-bold uppercase">Respect</li>
    <li class="card bg-amber-300 text-lg border-none text-center font-bold uppercase">Bienveillance</li>
    <li class="card bg-amber-300 text-lg border-none text-center font-bold uppercase">Transparence</li>
    <li class="card bg-amber-300 text-lg border-none text-center font-bold uppercase">Fiabilité</li>
  </ul>

  <h3 class="mt-6 mb-2">Mes publications</h3>

  <p>Je partage régulièrement des <a href="/articles" class="text-sky-600/80 underline">articles</a> mêlant constats, recherches et réflexions personnelles en lien avec mon activité de services à la personne.</p>
  <p>Voici mes dernières publications&nbsp;:</p>
  {% assign published_articles = site.articles | where_exp: "article", "article.published != false and article.date <= site.time" | sort: 'date' | reverse | slice: 0, 30 %}
  {% for article in published_articles %}
    <a href="{{ article.url }}" class="btn block px-4 py-3 bg-sky-200/20 rounded-xl mt-6 border-2 border-transparent hover:shadow-lg hover:border-sky-500 transition">
      <div class="font-semibold text-sky-600/60">{{ article.title }}</div>
      <div class="text-sm text-gray-700">{{ article.excerpt }} <span class="text-sky-600/60">Lire la suite</span></div>
    </a>
  {% endfor %}

  </div>
</section>


<div class="bg-white flex flex-row gap-4 justify-center py-12">
  <a href="tel:{{site.phone}}" class="btn py-4 px-8 text-white text-lg rounded-full bg-sky-500 border-sky-500 border-2 hover:bg-sky-500 hover:text-white transition">M’appeler par téléphone</a>
  <a href="/faq" class="btn py-4 px-8 text-sky-500 text-lg rounded-full border-sky-500 border-2 hover:bg-sky-500 hover:text-white transition">Foire aux Questions</a>
</div>
