<div class="bg-amber-300 sticky top-0 z-10 shadow-sm">
  <nav class="max-w-4xl mx-auto px-4 flex flex-row items-center justify-between gap-3 whitespace-nowrap">
    <div class="brand px-4 py-3 font-bold"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></div>
    <div class="flex-row gap-4 hidden md:flex">
      <div>Téléphone : <a class="font-bold" href="tel:{{site.phone}}">{{site.public_phone}}</a></div>
      <div>Email : <a class="font-bold" href="mailto:romain@orreteguy.fr">romain@orreteguy.fr</a></div>
    </div>
  </nav>
</div>
